#container {
  width: 100%;
  height: 100%;
}

.map-padding {
  width: 90%;
  height: 90%;

  /* Leave extra room for long labels on the edge */
  padding: 5%;
}

.aspect-ratio-anemos {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: calc(950% / 13);
}

.aspect-ratio-pagos {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: calc(950% / 15);
}

.aspect-ratio-pyros {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: calc(1450% / 13.5);
}

.aspect-ratio-hydatos {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: calc(800% / 15);
}

.inner-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.map {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.flag {
  position: absolute;
  transform: translate(0, -100%);
}

.flag-icon::before {
  color: red;
  content: '\1F6A9';
}

.flag-name.text {
  font-size: 10px;
  color: red;
  position: relative;
  top: -3px;
}

.text.icon {
  text-align: center;
  width: 30px;
}

#label-time > div,
#label-weather-container > div > div {
  display: inline-block;
}

.nm {
  position: absolute;
  font-size: 12px;
  transform: translate(-50%, -40%);
}

.nm-hidden {
  display: none;
}

.nm-name {
  display: block;
  text-align: center;
  min-width: 100px;
}

.nm-progress {
  display: block;
  text-align: center;
  min-width: 100px;
}

.nm-time {
  display: block;
  text-align: center;
  font-size: 10px;
  min-width: 100px;
}

.nm-down .nm-name {
  font-size: 10px;
  color: #d25454;
}

.nm-down .nm-time {
  font-size: 10px;
  color: #d25454;
}

.duel .nm-time {
  color: #e7baba;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes pulse2 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.nm-pop .nm-name {
  color: #8686ff;
  font-size: 18px;
  animation: pulse 1s infinite alternate;
}

.critical .nm-name {
  color: #d25454;
}

.duel .nm-name {
  color: #e7baba;
}

.critical-pop .nm-name {
  font-size: 18px;
  animation: pulse 1s infinite alternate;
}

.critical .nm-progress {
  color: #c84123;
  font-size: 12px;
}

.duel .nm-progress {
  color: #e7baba;
}

.critical-pop .nm-icon {
  display: none;
}

.critical-pop .nm-time {
  display: none;
}

.bunny.nm-pop .nm-name {
  color: #66f;
  font-size: 14px;
  animation: pulse2 1s infinite alternate;
}

.nm-pop .nm-time {
  display: none;
}

.nm-pop .nm-progress {
  color: #8686ff;
  font-size: 12px;
}

.nm-pop .nm-icon {
  display: none;
}

.nm-enriched {
  display: block;
  text-align: center;
  color: #cfcfcf;
}

/* non-critical bozja fates are less important, so make smaller */
.bozjasouthern > .nm,
.zadnor > .nm {
  font-size: 10px;
}

.bozjasouthern > .nm-pop .nm-name,
.zadnor > .nm-pop .nm-name {
  font-size: 12px;
}

.bozjasouthern > .nm-down .nm-name,
.bozjasouthern > .nm-down .nm-time,
.zadnor > .nm-down .nm-name,
.zadnor > .nm-down .nm-time {
  font-size: 8px;
}

.player {
  position: absolute;
  display: block;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  margin: 0;
  background-image: radial-gradient(circle, #3cf5d3, #05121b);
  transform: translate(-50%, -50%);
}

#label-container {
  position: absolute;
  left: 0;
  font-size: 16px;
  font-weight: normal;
  padding: 5px;
  border: 2px dashed rgba(255, 255, 255, 0.3);
}

#label-weather-container {
  padding-top: 5px;
}

#label-time {
  padding-bottom: 5px;
  border-bottom: 2px dashed rgba(255, 255, 255, 0.3);
}

.aspect-ratio-anemos #label-container {
  top: 0%;
}

.aspect-ratio-pagos #label-container {
  top: 75%;
}

.aspect-ratio-pyros #label-container {
  top: 40%;
}

.aspect-ratio-hydatos #label-container {
  top: 90%;
}

.resize-helper {
  display: none;
}

.resizeHandle .resize-helper {
  display: inline-block;
}
