html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: transparent;

  /* FFXIV font look */
  font-family: "Meiryo";
  font-size: 12px;
  text-shadow: -1px 0 3px #217AA2, 0 1px 3px #217AA2, 1px 0 3px #217AA2, 0 -1px 3px #217AA2;
  font-weight: 300;
  color: #E2EBF5;
}
body {
  margin: 0px;
  overflow: hidden;
}
div {
  overflow: hidden;
  padding-left: 2px;
  padding-right: 2px;
}
table {
  table-layout: fixed;
}
td {
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  width: 100px;
}
.radar-div{
  position: static;
  display: table-cell;
}
.radar-image-div{
  margin:auto;
  float:left;
  top:0; 
  bottom:0; 
}
.resize-helper {
  display: none;
}
.resizeHandle .resize-helper {
  margin:auto;
  display: inline-block;
}
.radar-image{
  margin:auto;
  width:100%;
  float:left;
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
}
.radar-image-75{
  margin:auto;
  width:75%;
  position: fixed;
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
}
.radar-image-50{
  margin:auto;
  width:50%;
  position: fixed;
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
}
.radar-image-40{
  margin: auto;
  width: 40%;
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;
  transform: rotate(0deg);
}