# editorconfig.org

# top-most EditorConfig file
root = true

# Default settings:
# A newline ending every file
# Use spaces as indentation
[*]
insert_final_newline = true
indent_style = space

[*{.js,.json}]
indent_size = 2

[*.py]
indent_size = 4
