.vs
.vscode/
**/*.suo
bin/
obj/
packages/
user/

!user/README.txt
plugin/**/*.csproj.user

plugin/ThirdParty/
publish/
__pycache__
node_modules
package-lock.json
.idea/*
.idea/
*.iml
*.swp
.DS_Store
util/DEPS.cache
