sudo: false
matrix:
  include:
  - language: node_js
    node_js:
      - 4.0
    install:
      - npm install
    script:
      - npm run lint
      - npm test

  - language: python
    python:
      - 3.6
    install:
      - pip install pylint requests
    script:
      - pylint **/*.py --errors-only
