#jobs {
  position: relative;
}

#bars {
  position: relative;
  top: 20px;  /* Space for pull counter */
  left: 100px;  /* Space for some left buffs */
}

.big-buff {
  border: 1px solid black;
  width: 44px;
  height: 32px;
}

/* Relative to #bars */
#left-side-icons {
  position: absolute;
  left: -2px;
}

/* Relative to #bars */
#right-side-icons {
  position: absolute;
  left: 206px;
}

.rdm #right-side-icons {
  left: 278px;
}

.war #right-side-icons {
  left: 241px;
}

/* Relative to #bars */
#pull-bar, #hp-bar, #mp-bar, #tp-bar, #cp-bar, #gp-bar {
  width: 202px;
  height: 7px;
}

#pull-bar {
  position: absolute;
  left: 100px;
  top: 0px;
  height: 18px;
  font-size: 12px;
}

#mp-bar, #tp-bar, #rdm-bar {
  margin-top: 1px;
}

.tank #hp-bar {
  height: 18px;
}

#cp-bar {
  height: 18px;
}

#gp-bar {
  height: 18px;
}

/* Relative to #bars */
#rdm-bar {
  position: relative;
  border: 1px solid black;
  width: 200px;  /* 202 minus borders */
  height: calc(8px * 2 - 4px);
  background: rgba(30, 30, 30, 0.7);
}

#rdm-bar .marker {
  position: absolute;
  height: 100%;
}

#rdm-bar .marker.even {
  background: rgba(0, 0, 0, 0.7);
}

/* Relative to #rdm-bar */
#rdm-white-bar, #rdm-black-bar {
  display: block;
  position: relative;
  margin: -1px -1px -2px -1px;
  width: 100%;
  height: calc(100% - 4px);
}

/* Relative to #bars */
#rdm-boxes, #war-boxes {
  position: absolute;
  left: 202px;
  top: 0px;
}

#rdm-boxes>div, #war-boxes>div {
  display: inline-block;
  margin-left: 4;
  width: 30px;
  height: 28px;
  border: 1px solid rgba(0,0,0,0.7);
}

#rdm-boxes .text, #war-boxes .text {
  text-align: center;
  position: relative;
  top: 5px;
  font-size: 16px;
}

/* Relative to #bars */
#rdm-procs {
  position: absolute;
  top: 146px;
  left: 0px;
}
#rdm-procs-white {
  position: relative;
  display: inline-block;
  left: 10px;
}
#rdm-procs-black {
  position: relative;
  display: inline-block;
  left: calc(152px / 2);
}
#rdm-procs-impact {
  position: relative;
  display: inline-block;
  left: 142px;
}
#rdm-procs .inactive {
  position: absolute;
  display: inline-block;
  opacity: 0.6;
  border: 1px solid black;
  left: 14px;
  top: 14px;
  width: 20px;
  height: 20px;
}

/* Relative to #bars */
#smn-timers {
  position: absolute;
  top: 146px;
  left: 0px;
}
#smn-timers-ruin {
  position: relative;
  display: inline-block;
  /*left: 10px;*/
  left: calc(152px / 2);
}
#smn-timers .inactive {
  position: absolute;
  display: inline-block;
  opacity: 0.6;
  border: 1px solid black;
  left: 14px;
  top: 14px;
  width: 20px;
  height: 20px;
}
#smn-stacks {
  position: relative;
  top: 1px;
  width: 202px;
  height: calc(8px * 2 - 4px);
}
#smn-stacks-bahamut {
  position: relative;
  display: inline-block;
  width: calc(35% - 1px);
  height: 100%;
}
#smn-stacks-aetherflow {
  position: relative;
  left: 1px;
  display: inline-block;
  width: 65%;
  height: 100%;
}
#smn-stacks .bahamut {
  position: relative;
  display: inline-block;
  margin-left: 1px;
  border: 1px solid black;
  width: calc(50% - 3px);
  height: calc(100% - 2px);
}
#smn-stacks .bahamut.stack1 {
  margin-left: 0px;
  width: calc(50% - 2px);
}
#smn-stacks .aetherflow {
  position: relative;
  display: inline-block;
  margin-left: 1px;
  border: 1px solid black;
  width: calc(33.33% - 3px);
  height: calc(100% - 2px);
}
#smn-stacks .aetherflow.stack1 {
  margin-left: 0px;
  width: calc(33.33% - 2px);
}
#smn-stacks .channeling {
  display: none;
}
#smn-stacks .bahamut {
  background: #003d4d;
  opacity: 0.6;
}
#smn-stacks .bahamut.active {
  background: #00ccff;
  opacity: 1;
}
#smn-stacks .aetherflow {
  background: #4d0066;
  opacity: 0.6;
}
#smn-stacks .aetherflow.active {
  background: #e699ff;
  opacity: 1;
}
#smn-stacks .aetherflow.dreadwyrm {
  background: #006600;
  opacity: 1;
}
#smn-timer-bahamut, #smn-timer-aetherflow {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 10px;
}
#smn-timer-bahamut.channeling, #smn-timer-aetherflow.channeling {
  display: inline-block;
}
#smn-timer-bahamut {
  color: #ff0066;
}
#smn-timer-aetherflow {
  color: #99ff33;
}

/* Relative to #bars */
#war-procs {
  position: absolute;
  top: 146px;
  left: 10px;
}

/* Relative to #bars */
.rdm-combo {
  display: none;
  position: absolute;
  top: -9px;
  width: 50px;
  height: 6px;
  backgroundColor: #990;
  border: 1px solid black;
}
.rdm-combo.active {
  display: block;
}
#rdm-combo-1 {
  left: 0px;
  background: #990;
}
#rdm-combo-2 {
  left: calc((202px - 52px) / 2);
  background: #990;
}
#rdm-combo-3 {
  left: calc(202px - 52px);
  background: #A00;
}

.bar-border-color {
  background-color: rgb(30, 30, 30);
}
.hp-color {
  background-color: rgb(59, 133, 4);
}
.hp-color.low {
  background-color: rgb(190, 43, 30);
}
.hp-color.mid {
  background-color: rgb(127, 185, 29);
}
.mp-color {
  background-color: rgb(188, 55, 147);
}
.mp-color.far {
  background-color: rgb(215, 120, 0);
}
.tp-color {
  background-color: rgb(180, 180, 0);
}
.tp-color.low {
  background-color: rgb(200, 70, 15);
}
.cp-color {
  background-color: rgb(75, 135, 230);
}
.gp-color {
  background-color: rgb(20, 50, 20);
}
.rdm-color-white-mana {
  background-color: rgb(220, 220, 240);
}
.rdm-color-black-mana {
  background-color: rgb(47, 176, 208);
}
.rdm-color-impact {
  background-color: rgb(242, 114, 147);
}
.rdm-color-white-mana.dim {
  background-color: rgb(100, 100, 100);
}
.rdm-color-black-mana.dim {
  background-color: rgb(13, 76, 80);
}
.war-color-beast {
  background-color: rgb(230, 20, 20);
}
.war-color-beast.low {
  background-color: rgb(255, 235, 153);
}
.war-color-beast.mid {
  background-color: rgb(255, 153, 0);
}
.war-color-eye {
  background-color: rgb(60, 100, 210);
}
.smn-color-ruin {
  background-color: rgb(150, 233, 140);
}
