#jobs {
  position: relative;
}

#bars {
  position: relative;
  top: 20px; /* Space for pull counter */
  left: 100px; /* Space for some left buffs */
}

#jobs-container.hide {
  display: none;
}

.big-buff {
  border: 1px solid black;
  width: 44px;
  height: 32px;
}

/* Relative to #bars */
#left-side-icons {
  position: absolute;
  left: -2px;
}

/* Relative to #bars */
#right-side-icons {
  position: absolute;
  left: 242px;
}

.rdm #right-side-icons,
.sch #right-side-icons,
.smn #right-side-icons,
.ast #right-side-icons {
  left: 278px;
}

.drk #right-side-icons {
  left: 250px;
}

.blm #left-side-icons {
  left: -40px;
}

.blu #right-side-icons {
  left: 204px;
}

.pld #right-side-icons {
  left: 288px;
}

/* Relative to #bars */
#pull-bar,
#hp-bar,
#mp-bar,
#mp-tick,
#cp-bar,
#gp-bar {
  width: 202px;
  height: 7px;
  margin-top: 1px;
}

#pull-bar {
  position: absolute;
  left: 100px;
  top: 0;
  height: 18px;
  font-size: 12px;
}

.justbuffs #right-side-icons {
  position: fixed;
  left: 0;
}

.justbuffs #pull-bar {
  display: none;
}

.justbuffs #bars {
  display: none;
}

#mp-bar,
#rdm-bar,
#mnk-bar {
  margin-top: 1px;
}

#hp-bar.show-number {
  height: 32px;
}

#mp-bar.show-number {
  height: 18px;
}

#cp-bar {
  height: 18px;
}

#gp-bar {
  height: 18px;
}

.mnk #hp-bar {
  height: 10px;
}

.drk #hp-bar,
.pld #hp-bar,
.blu #hp-bar {
  height: 18px;
}

.blm #mp-bar {
  height: 24px;
}

/* Relative to #bars */
#rdm-bar {
  position: relative;
  border: 1px solid black;
  width: 200px; /* 202 minus borders */
  height: calc(8px * 2 - 4px);
  background: rgba(30, 30, 30, 0.7);
}

#mnk-bar {
  position: relative;
  width: 202px;
  height: 7px;
  background: rgba(30, 30, 30, 0.7);
}

#rdm-bar .marker {
  position: absolute;
  height: 100%;
}

#rdm-bar .marker.even {
  background: rgba(0, 0, 0, 0.7);
}

/* Relative to #rdm-bar */
#rdm-white-bar,
#rdm-black-bar {
  display: block;
  position: relative;
  margin: -1px -1px -2px -1px;
  width: 100%;
  height: calc(100% - 4px);
}

#mnk-timers-lightning,
#mnk-timers-combo {
  display: block;
  position: relative;
  width: 100%;
  height: 10px;
  margin-top: 1px;
}

/* Relative to #bars */
#rdm-boxes,
#sch-boxes,
#smn-boxes,
#ast-boxes,
#war-boxes,
#mnk-boxes,
#pld-boxes,
#drk-boxes,
#blm-boxes,
#gnb-boxes {
  display: flex;
  position: absolute;
  left: 202px;
  top: 0;
}

#rdm-boxes > div,
#sch-boxes > div,
#smn-boxes > div,
#ast-boxes > div,
#war-boxes > div,
#mnk-boxes > div,
#pld-boxes > div,
#drk-boxes > div,
#blm-boxes > div,
#gnb-boxes > div {
  display: inline-block;
  margin-left: 4;
  border: 1px solid rgba(0, 0, 0, 0.7);
}

/*
  Boxes try to fit the exact height of the bars.
  War is pretty short though, so just gets a default value.
*/

#war-boxes > div,
#gnb-boxes > div {
  width: 29px;
  height: 29px;
}

#drk-boxes > div,
#pld-boxes > div {
  width: 35px;
  height: 35px;
}

#sch-boxes > div,
#smn-boxes > div,
#ast-boxes > div,
#rdm-boxes > div {
  width: 28px;
  height: 28px;
}

#mnk-boxes > div {
  width: 30px;
  height: 30px;
}

#rdm-boxes .text,
#sch-boxes .text,
#smn-boxes .text,
#ast-boxes .text,
#war-boxes .text,
#mnk-boxes .text,
#pld-boxes .text,
#drk-boxes .text,
#blm-boxes .text,
#gnb-boxes .text {
  text-align: center;
  position: relative;
  top: 7px;
  font-size: 16px;
}

#mnk-boxes .text {
  top: 7px;
}

#sch-boxes .text,
#smn-boxes .text,
#ast-boxes .text,
#rdm-boxes .text {
  top: 5px;
}

#drk-boxes .text,
#pld-boxes .text {
  top: 6px;
  font-size: 20px;
}

#blm-boxes > div {
  width: 30px;
  height: 30px;
}

#blm-boxes .text {
  top: 6px;
}

/*
  Relative to #bars
  In general, jobs has ui such that the health bar can appear on top
  of the ffxiv target+buffs bar, with the procs appearing underneath.
  All jobs should have procs in roughly the same spot, and the
  entire bars + procs should be roughly 250px wide, 210px tall.
*/
#rdm-procs {
  position: absolute;
  top: 146px;
  left: 0;
}

#rdm-procs-white {
  position: relative;
  display: inline-block;
  left: 10px;
}

#rdm-procs-black {
  position: relative;
  display: inline-block;
  left: calc(152px / 2);
}

#rdm-procs-impact {
  position: relative;
  display: inline-block;
  left: 142px;
}

/* Relative to #bars */
#war-procs,
#pld-procs,
#mnk-procs,
#ast-procs,
#sch-procs,
#blu-procs,
#drk-procs,
#blm-procs {
  position: absolute;
  top: 146px;
  left: 10px;
}

#smn-procs {
  position: absolute;
  top: 146px;
  left: 0;
}

#mnk-procs-dragonkick,
#ast-procs-combust,
#sch-procs-bio,
#smn-procs-miasma,
#blu-procs-offguard,
#blm-procs-fire {
  position: relative;
  display: inline-block;
  left: 0;
}

#smn-procs-biosmn {
  position: relative;
  display: inline-block;
  left: calc(152px / 3);
}

#smn-procs-energydrain {
  position: relative;
  display: inline-block;
  left: calc(152px / 3 * 2);
}

#mnk-procs-twinsnakes,
#ast-procs-draw,
#sch-procs-aetherflow,
#blu-procs-torment,
#blm-dot-thunder {
  position: relative;
  display: inline-block;
  left: calc(142px / 2);
}

#mnk-procs-demolish,
#ast-procs-luciddreaming,
#sch-procs-luciddreaming,
#blm-procs-thunder,
#blu-procs-lucid {
  position: relative;
  display: inline-block;
  left: 142px;
}

#smn-procs-trance {
  position: relative;
  display: inline-block;
  left: 152px;
}

#smn-stacks,
#blm-stacks {
  display: flex;
  margin-top: 1px;
  width: 202px;
  height: 12px;
}

#blm-stacks-xeno {
  width: 50%;
  height: 100%;
}

#blm-stacks-xeno > div {
  background-color: rgba(66, 19, 128, 0.2);
  margin-left: 2px;
  display: inline-block;
  border: 1px solid black;
  width: calc(50% - 4px);
  height: 100%;
}

#blm-stacks-xeno > div.active {
  background-color: rgb(200, 50, 200);
}

#smn-stacks-ruin4 {
  width: 100%;
  height: 100%;
}

#blm-stacks-heart {
  width: 50%;
  height: 100%;
}

#blm-stacks-heart > div {
  background-color: rgba(174, 227, 235, 0.2);
  margin-right: 2px;
  display: inline-block;
  border: 1px solid black;
  width: calc(33% - 4px);
  height: 100%;
}

#smn-stacks-ruin4 > div {
  background-color: rgba(174, 227, 235, 0.2);
  margin-right: 2px;
  display: inline-block;
  border: 1px solid black;
  width: calc(25% - 4px);
  height: 100%;
}

#blm-stacks-heart > div.active {
  background-color: rgb(174, 227, 235);
}

#smn-stacks-ruin4 > div.active {
  background-color: rgb(65, 0, 200);
}

.blm-umbral-timer {
  position: absolute;

  /* fix this hack by using better layout primitives */
  left: -242px;
  background-color: rgba(0, 0, 0, 0.3);
}

.bar-border-color {
  background-color: rgb(30, 30, 30);
}

.hp-color {
  background-color: rgb(59, 133, 4);
}

.hp-color.low {
  background-color: rgb(190, 43, 30);
}

.hp-color.mid {
  background-color: rgb(127, 185, 29);
}

.mp-color {
  background-color: rgb(188, 55, 147);
}

.mp-color.far {
  background-color: rgb(215, 120, 0);
}

.mp-color.low {
  background-color: rgb(210, 20, 65);
}

.mp-color.medium {
  background-color: rgb(65, 0, 200);
}

.mp-tick-color {
  background-color: rgb(133, 192, 231);
}

.mp-tick-color.ice {
  background-color: rgb(30, 80, 245);
}

.mp-tick-color.fire {
  background-color: rgb(229, 56, 53);
}

.cp-color {
  background-color: rgb(75, 135, 230);
}

.gp-color {
  background-color: rgb(20, 50, 20);
}

.rdm-color-white-mana {
  background-color: rgb(220, 220, 240);
}

.rdm-color-black-mana {
  background-color: rgb(47, 176, 208);
}

.rdm-color-impact {
  background-color: rgb(242, 114, 147);
}

.rdm-color-white-mana.dim {
  background-color: rgb(100, 100, 100);
}

.rdm-color-black-mana.dim {
  background-color: rgb(13, 76, 80);
}

.war-color-beast {
  background-color: rgb(230, 20, 20);
}

.war-color-beast.low {
  background-color: rgb(255, 235, 153);
}

.war-color-beast.mid {
  background-color: rgb(255, 153, 0);
}

.war-color-eye {
  background-color: rgb(60, 100, 210);
}

.pld-color-oath {
  background-color: rgb(255, 210, 45);
}

.pld-color-oath.mid {
  background-color: rgb(255, 255, 100);
}

.pld-color-oath.low {
  background-color: rgb(255, 255, 200);
}

.pld-color-atonement {
  background-color: rgb(214, 237, 255);
}

.pld-color-atonement.any {
  background-color: rgb(25, 156, 255);
}

.drk-color-blood {
  background-color: rgb(255, 0, 10);
}

.drk-color-blood.low {
  background-color: rgb(60, 0, 10);
}

.drk-color-blood.mid {
  background-color: rgb(200, 0, 10);
}

.drk-color-darkside {
  background-color: rgb(129, 33, 138);
}

.pld-color-gore {
  background-color: rgb(255, 135, 35);
}

.smn-color-ruin {
  background-color: rgb(150, 233, 140);
}

.smn-color-aetherflow {
  background-color: rgb(255, 96, 207);
}

.smn-color-aetherflow.too-much-stacks {
  background-color: rgb(240, 30, 30);
}

.smn-color-biosmn {
  background-color: olivedrab;
}

.smn-color-miasma {
  background-color: cornflowerblue;
}

.smn-color-energydrain {
  background-color: brown;
}

.smn-color-trance {
  background-color: rgb(60, 80, 200);
}

.smn-color-demisummon {
  background-color: rgb(180, 200, 220);
}

.smn-color-demisummon.bahamutready {
  background-color: rgb(64, 65, 163);
}

.smn-color-demisummon.firebirdready {
  background-color: orange;
}

.smn-color-demisummon.last {
  background-color: rgb(240, 30, 30);
}

.mnk-color-chakra {
  background-color: rgb(230, 20, 20);
}

.mnk-color-chakra.dim {
  background-color: rgba(244, 194, 66, 0.3);
}

.mnk-color-lightning-0 {
  background-color: rgb(210, 25, 25);
}

.mnk-color-lightning-1 {
  background-color: rgb(250, 150, 30);
}

.mnk-color-lightning-2 {
  background-color: rgb(20, 100, 66);
}

.mnk-color-lightning-3 {
  background-color: rgb(20, 131, 175);
}

.mnk-color-form {
  background-color: rgb(180, 200, 220);
}

.mnk-color-pb {
  background-color: rgb(200, 130, 0);
}

.mnk-color-dragonkick {
  background-color: rgb(200, 130, 0);
}

.mnk-color-twinsnakes {
  background-color: rgb(215, 80, 70);
}

.mnk-color-demolish {
  background-color: rgb(60, 80, 200);
}

.sch-color-bio {
  background-color: rgb(60, 80, 200);
}

.sch-color-aetherflow {
  background-color: rgb(255, 96, 207);
}

.sch-color-aetherflow.too-much-stacks {
  background-color: rgb(240, 30, 30);
}

.sch-color-fairygauge {
  background-color: rgb(62, 224, 170);
}

.sch-color-fairygauge.bright {
  background-color: rgb(120, 170, 250);
}

.sch-color-lucid {
  background-color: rgb(227, 148, 210);
}

.ast-color-combust {
  background-color: rgb(120, 170, 250);
}

.ast-color-benefic {
  background-color: rgb(62, 224, 170);
}

.ast-color-helios {
  background-color: rgb(175, 235, 215);
}

.ast-color-draw {
  background-color: rgb(64, 65, 163);
}

.ast-color-card {
  background-color: rgb(180, 200, 220);
}

.ast-color-card.range {
  background-color: rgb(255, 96, 207);
}

.ast-color-card.melee {
  background-color: rgb(120, 170, 250);
}

.ast-color-seal {
  background-color: rgb(180, 200, 220);
}

.ast-color-seal.ready {
  background-color: rgb(62, 224, 170);
}

.ast-color-lucid {
  background-color: rgb(227, 148, 210);
}

.blu-color-offguard {
  background-color: rgb(210, 255, 196);
}

.blu-color-torment {
  background-color: rgb(168, 65, 45);
}

.blu-color-lucid {
  background-color: rgb(227, 148, 210);
}

.blm-color-dot {
  background-color: rgb(110, 186, 245);
}

.blm-color-thunder {
  background-color: rgb(64, 65, 163);
}

.blm-color-fire {
  background-color: rgb(217, 51, 0);
}

.blm-umbral-timer.fire {
  background-color: rgb(229, 56, 53);
}

.blm-umbral-timer.ice {
  background-color: rgb(30, 80, 245);
}

.blm-xeno-timer {
  background-color: rgba(0, 0, 0, 0.3);
}

.blm-xeno-timer.active {
  background-color: rgb(200, 50, 200);
}

/* Pulse effect for xeno overwrite */
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(200, 50, 200, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(200, 50, 200, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(200, 50, 200, 0);
  }
}

.blm-xeno-timer.pulse {
  box-shadow: 0 0 0 0 rgba(200, 50, 200, 1);
  animation: pulse 1s infinite;
}

.gnb-color-cartridge {
  background-color: rgb(115, 218, 255);
}
