@import url(https://fonts.googleapis.com/css?family=Raleway:500);
body {
    font-family: Raleway;
    margin-top: 15px;
}



div::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

div::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

div::-webkit-scrollbar-thumb
{
    background-color: #000000;
}


h1 {
    text-align: center;
    font-size: 34px;
    color: #FFF;
}

h2, h3, h4, h5, label {
    color: #fff;
}

p {
    color: #999;
    text-align: center;
    font-size: 15px;
}
p a {
    color: #2ecc71;
    text-decoration: none;
    padding: 1px 2px 0px 2px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: all .1s ease;
}
p a:hover {
    padding: 1px 2px 1px 2px;
    border-bottom: 2px solid #555;
}

#cactbot-module {
    width: 400px;
    margin: auto;
    background: #2a2a2a;
    display: flex;
    flex-direction: column;
}
#cactbot-module h1 {
    cursor: pointer;
}
#cactbot-module header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;
    background: #222222;
    width: 400px;
    margin: auto;
}
#cactbot-module header .menu {
    color: #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
}
#cactbot-module header .menu span {
    cursor: pointer;
    text-decoration: underline;
}
#cactbot-module section {
    width: 400px;
    max-height: calc(100vh - 150px);
    flex-direction: column;
    margin: auto;
    display: none;
}
#cactbot-module section.active {
    display: flex;
}
#cactbot-module section .not-done {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 20px;
    color: #ccc;
    border-top: 2px solid #ccc;
}
#cactbot-module section > div {
    padding-left: 20px;
}
#cactbot-module section h2 {
    cursor: pointer;
    padding-left: 10px;
    padding-bottom: 10px;
    line-height: 6px;
}

#cactbot-module section h2.active {
    /*cursor: pointer;*/
    /*padding-left: 10px;*/
    /*padding-bottom: 10px;*/
    /*line-height: 6px;*/
    color: #65c87a;
}
#cactbot-module section .header + div {
    visibility: hidden;
    transform: scaleY(0);
    height: 0;
    overflow-y: auto;
    transform-origin: top;
    transition: all 0.45s ease-out;
}
#cactbot-module section .header + div.active {
    visibility: visible;
    transform: scaleY(1);
    transform-origin: top;
    overflow-y: auto;
    height: 100%;
    transition: all 0.45s ease-in;
}

.slider-bar {
        width: 300px;
    margin-top: 10px;
    height: 50px;
        position: relative;
}

.slider-bar div.slider-val {
    position: absolute;
    margin-right: -54px;
    right: 0;
    color: #666;
    line-height: 3px;
}

.player-volume {
    width: 130px;
    height: 50px;
    position: relative;
    align-self: center;
}
.player-volume i {
    position: absolute;
    margin-top: -6px;
    color: #666;
}
.player-volume i.fa-volume-down {
    margin-left: -8px;
}
.player-volume i.fa-volume-up {
    margin-right: -8px;
    right: 0;
}
.player-volume div.volume-val {
    position: absolute;
    margin-right: -54px;
    right: 0;
    color: #666;
    line-height: 3px;
}

.volume, .slider {
    position: absolute;
    left: 24px;
    margin: 0 auto;
    height: 5px;
    width: 80px;
    background: #555;
    border-radius: 15px;
}
.volume .ui-slider-range-min,
.slider .ui-slider-range-min {
    height: 5px;
    width: 300px;
    position: absolute;
    background: #2ecc71;
    border: none;
    border-radius: 10px;
    outline: none;
}
.volume .ui-slider-handle,
.slider .ui-slider-handle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #FFF;
    position: absolute;
    margin-left: -8px;
    margin-top: -8px;
    cursor: pointer;
    outline: none;
}

.slider {
    margin-top: 20px;
    width: 230px;
}

.slider-bar {
    color: #ccc;
    margin-bottom: 10px;
}

#alerts, #timeline, #alert-sounds, #nicknames {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: #2f2f2f;
}

#alerts-sounds {
    background: #343434;
}
#alerts-sounds div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
#alerts-sounds .sound-type {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 20px;

}
#alerts-sounds .sound-type label {
    color: #ccc;
}
#alerts-sounds .sound-type input[type=text] {
    border-radius: 3px;
    background: #ccc;
    border: 0;
    padding: 6px;
    margin: 10px;
    width: 180%;
}

#alerts-sounds .sound-type input[type=text]:focus {
  background: #2ecc71;
}

section input[type=checkbox] {
    display: block;
    position: relative;
    width: 70px;
    height: 35px;
    -webkit-appearance: none;
}
section .check {
    background: #C66363;
    outline: none;
    border-radius: 60px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    cursor: pointer;
}
section .check:checked {
    background: #65C87A;
}
section .check:checked:before {
    content: 'on';
    font-weight: bold;
    font-size: 20px;
    color: #2F2F2F;
}
section .check:before {
    content: 'off';
    color: #2F2F2F;
    position: absolute;
    line-height: 34px;
    padding-left: 6px;
    width: 30px;
    height: 35px;
    font-size: 20px;
    border-radius: 30px;
    top: 0;
    left: 0;
    transform: scale(0.8);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    background: #fff;
    transition: .5s;
}
section .check:checked:before {
    left: 50%;
}

section .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

#alerts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}
#alerts label {
    color: #ccc;
    cursor: pointer;
    text-align: center;
}
#alerts div {
    min-width: calc(50% - 40px);
    padding: 15px;
    margin: 0;
    max-height: 50px;
}

#timeline label {
    padding: 10px;
    float: left;
}

.hide-settings {
    color: #ccc;
    font-size: 1.6em;
    text-align: center;
    top: 18px;
    left: -220px;
    width: calc(100% - 20px);
    position: absolute;
    z-index: 100;
    cursor: pointer;
}

.hide-settings:hover {
    animation: pulsate 1s infinite;
}

#cactbot-module.hide {
    display: none;
}


#nicknames .add-nickname {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px 0 0px;
}

#nicknames .input {
    display: inline-block;
    padding: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #ccc;
    width: calc(50% - 50px);
}

#nicknames .input-btn {
    background: #2ecc71;
    border: 3px solid #2ecc71;
    padding: 0;
    margin-top: 5px;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 16px;
}

#nicknames .input-btn i:hover {
    transform: rotate(90deg);
    transition: all .5s;
    cursor: pointer;
}

#nicknames .input-btn:hover {
    animation: pulsate 1s infinite;
}

#nicknames input {
    outline: none;
    border: none;
    display:block;
    line-height: 1.2em;
    font-size: 12px;
    background: #ccc;

}

#nicknames label {
    display: block;
    font-size: 10px;
    color: blue;
    color: #2a2a2a;

}

#nicknames ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin-left: 0;
}


#nicknames li {
    color: #ccc;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;

    margin-left: 0;
}

#nicknames li span {
    width: 33%;
}

#nicknames li span:before {
    display: block;
    position: absolute;
    top: -4px;
    color: #ccc;
    font-size: 8px;

}

#nicknames li span:first-of-type:before {
     content: "Name";

 }

#nicknames li i:hover {
    animation: pulsate 1s infinite;
    cursor: pointer;
}

#nicknames li span:before {
    content: "Nickname"
}


/* Animations */
@keyframes pulsate {
    0%   {
        transform: scale(1);
    }
    50%  {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
