#fisher {
  display: none;
  padding: 0.1em;
  font-size: 19px;
  color: #fff;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  text-shadow:
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    -1px -1px 0 #000;
}

#fisher-head {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding: 0.1em 1em;
  box-sizing: border-box;
  height: 2.6em;
}

#cast-duration::before {
  content: 'Cast time';
  display: block;
  font-size: 0.5em;
}

#cast-duration {
  text-align: right;
  font-size: 1.3em;
}

#place-name::before {
  content: '@ ';
}

#fisher-depth {
  display: flex;
  position: relative;
  height: calc(100% - 2.6em);
}

#fisher-arrow-well {
  position: relative;
  width: 5%;
  text-align: right;
  height: calc(100% - 8px);
}

#fisher-depth-well {
  width: 20%;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

#fisher-arrow {
  position: absolute;
  width: 100%;
  top: 0;
  line-height: 10px;
}

#fisher-arrow::before {
  content: ' ';
  display: block;
  position: absolute;
  width: 360%;
  border-bottom: 1px solid #000;
  border-top: 1px solid #fff;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  z-index: 20;
}

.fisher-well {
  width: 32%;
  height: calc(100% - 4px);
  margin-top: 4px;
  position: relative;
}

.well-entry {
  position: absolute;
  width: calc(100% - 2px);
  border: 1px solid #000;
  border-radius: 3px;
  z-index: 10;
}

#fisher-table {
  width: 75%;
  height: 100%;
  color: #fff;
  text-align: center;
  position: relative;
}

#fisher-table .table-row {
  opacity: 0.7;
  height: 10%;
}
