html {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.text {
  font-family: arial, sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: -1px 0 3px black, 0 1px 3px black, 1px 0 3px black, 0 -1px 3px black;
  will-change: content;
}

:lang(ja) .text {
  font-family:
    "BIZ UDPゴシック",
    "BIZ UDPGothic",
    "游ゴシック",
    "Yu Gothic",
    "Meiryo UI",
    Arial,
    Helvetica,
    sans-serif;
}

:lang(zh-CN) .text {
  font-family:
    "黑体",
    SimHei,
    "微软雅黑",
    "Microsoft Yahei UI",
    Lato,
    Arial,
    Helvetica,
    sans-serif;
}

.hide {
  display: none !important;
}

.resize-handle {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4zjOaXUAAAAGZJREFUOE+ljEEOACEIA92f+f9XaQ822EUgajJJC4xtvu+BPnEXFSBff7Bk5N8yw8pgW2aojLwdRHhy+YOTjMzhiUgGDB6ZjMyiVGTAgeV0rB1wqMusL7iIjrVb0mPtypMMGC7k1geoEhcn0OEM6wAAAABJRU5ErkJggg==");
  background-position: bottom right;
  background-repeat: no-repeat;
  box-sizing: border-box;

  /* not fully transparent to make it easier to move */
  background-color: rgb(0 0 150 / 20%);
}

.unlocked {
  border: dashed 10px red;
}

#cactbot-unlocked-text {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: none !important;
}

.unlocked #cactbot-unlocked-text {
  display: block !important;
}

#player-select {
  /* ok seriously what is on top of this */
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  margin: 20px;
  max-width: 600px;
  font-size: 16px;
  font-family: Meiryo, Arial, sans-serif;
}

#player-select > div,
#player-select > input {
  margin-bottom: 20px;
}

#player-select label {
  user-select: none;
}

#player-select-list {
  display: grid;
  grid-template-columns: min-content 100%;
  grid-row-gap: 10px;
}

#player-select-instructions {
  white-space: pre-line;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  user-select: none;
}

#player-select-button {
  display: block;
  width: 100%;
  height: 50px;
  font-size: 16px;
}
