html {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.text {
  font-family: arial, sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: -1px 0 3px black, 0 1px 3px black, 1px 0 3px black, 0 -1px 3px black;
  will-change: content;
}

.hide {
  display: none !important;
}

.resizeHandle {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4zjOaXUAAAAGZJREFUOE+ljEEOACEIA92f+f9XaQ822EUgajJJC4xtvu+BPnEXFSBff7Bk5N8yw8pgW2aojLwdRHhy+YOTjMzhiUgGDB6ZjMyiVGTAgeV0rB1wqMusL7iIjrVb0mPtypMMGC7k1geoEhcn0OEM6wAAAABJRU5ErkJggg==);
  background-position: bottom right;
  background-repeat: no-repeat;
  box-sizing: border-box;

  /* not fully transparent to make it easier to move */
  background-color: rgba(0, 0, 150, 0.2);
}

.unlocked {
  border: dashed 10px red;
}

#cactbot-unlocked-text {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: none !important;
}

.unlocked #cactbot-unlocked-text {
  display: block !important;
}
