body, html {
  margin: 0;
}
html {
  height: 100%;
  overflow: hidden;
}
.text {
  font-family: arial;
  font-weight: bold;
  color: white;
  text-shadow: -1px 0 3px black, 0 1px 3px black, 1px 0 3px black, 0 -1px 3px black;
  will-change: content;
}
.hide {
  display: none !important;
}
