.info-text {
  color: #2b2;
  font-size: 140%;
  text-shadow: -2px 0 4px black, 0 2px 4px black, 2px 0 4px black, 0 -2px 4px black;
  will-change: transform;
}
.alert-text {
  color: #fb0;
  font-size: 170%;
  text-shadow: -2px 0 4px black, 0 2px 4px black, 2px 0 4px black, 0 -2px 4px black;
  will-change: transform;
  text-transform: uppercase;
}
.alarm-text {
  color: #f30;
  font-size: 230%;
  text-shadow: -2px 0 4px black, 0 2px 4px black, 2px 0 4px black, 0 -2px 4px black;
  will-change: transform;
  text-transform: uppercase;
}

/* Fake bars for helping with move/resize. */

#timeline-resize-helper .resize-helper-bar {
  border: 1px solid black;
  margin-bottom: 2;
  padding: 0 0.2em 0 0.2em;
  vertical-align: middle;
}

.timeline-bar-color {
  background-color: #312008;
}
.timeline-bar-color.soon {
  background-color: #471515;
}

.timeline-barborder-color {
  background-color: #AA6E03;
}
.timeline-barborder-color.soon {
  background-color: #FF7D7D;
}