html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0px;
  overflow: hidden;
}
.box {
  font-family: Tahoma, Verdana;
  font-size: 10px;
  color: #ded7be;
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
  padding: 0px;
}
#overlay {
  margin-top: auto;
}
.title {
  display: flex;
  flex-direction: row;
}
.title .name {
  order: 1;
  align-self: flex-start;
  margin-right: auto;
}
.title .misses {
  flex-shrink: 0;
  order: 2;
  align-self: flex-end;
}
.title .number {
  flex-shrink: 0;
  order: 3;
  align-self: flex-end;
}
.phase {
  border-radius: 10px;
  font-size: 19px;
  text-align: right;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.phasename {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  order: -100;
}
.phasetotal {
  order: -99;
}
.number {
  margin-left: 3px;
  margin-right: 3px;
}

#topcontainer {
  width: 100%;
  display: flex;
}

#overlaysource {
  display: none;
}
#phasesource {
  display: none;
}
#phasenumbersource {
  display: none;
}

.highestdps {
  text-decoration: underline;
}

ol {
  list-style-type: none;
  margin: 0px;
}

li {
  height: 23px;
}

li .dps {
  display: inline-block;
  color: #ded7be;
  width: 75px;
  text-align: right;
  font-size: 19px;
}

li .name {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

li .detail {
  display: inline-block;
  vertical-align: top;
  color: #ded7be;
  font-size: 12px;
  width: calc(100% - 79px);
}

li .detail .number {
  color: #ded7be;
}

li .detail .misses {
  font-weight: bold;
  font-size: 14px;
  margin-right: 5px;
  margin-left: 5px;
}

li .bar {
  display: block;
  height: 5px;
  background-color: #9d9165;
}

li.you {
  background-color: #5d5125;
}

.hide {
  display: none;
}
