#pullcount {
  color: white;
  font-size: 80px;
  text-align: center;
  text-shadow: 0 2px black,0 -2px black,2px 0 black,-2px 0 black,1px 1px black,-1px -1px black,-1px 1px black,1px -1px black
}

.wipe {
  text-decoration: line-through;
}

.resize-helper-inline {
  display: none;
}
.resizeHandle .resize-helper-inline {
  display: inline;
}

.resizeHandle .hide-if-resizing {
  display:none;
}
