.resize-helper {
  display: none;
}

.resizeHandle .resize-helper {
  display: inline-block;
}

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-button {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background: #f0f4ce;
  border: 1px inset #ddd391;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f0f4ce;
}
::-webkit-scrollbar-thumb:active {
  background: #f0f4ce;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 4px solid #202020;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.livelist {
  position: absolute;
  top: 0px;
  right: 0px;
  min-width: 300px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.livelist-shadow {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  margin: 5px;
}

.livelist-shadow.out-of-combat {
  box-shadow: 0 0 5px 2px rgba(200, 200, 70, 0.3);
}

.livelist div {
  font-family: "Meiryo";
  font-size: 12;
  text-shadow: -1px 0 3px #217AA2, 0 1px 3px #217AA2, 1px 0 3px #217AA2, 0 -1px 3px #217AA2;
  font-weight: 300;
  color: #E2EBF5;
}

.mistake-row:nth-child(even) {
  background-color: rgba(20, 20, 20, 0.3);
}

.mistake-row:nth-child(odd) {
  background-color: rgba(50, 50, 50, 0.3);
}

.mistake-row {
  display: flex;
  justify-content: space-between;
  height: 18px;
}

.mistake-icon {
  text-align: center;
  text-shadow: -1px 0 1px grey, 0 1px 1px grey;
  width: 20px;
  flex: 0 0 auto;
}

.mistake-text {
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mistake-time {
  align-self: flex-end;
  padding-right: 3px;
}

.mistake-icon.pull:before {
  color: green;
  content: '\25B6';
}
.mistake-icon.death:before {
  color: red;
  content: '\1F480';
}
.mistake-icon.warn:before {
  color: yellow;
  content: '\26A0';
}
.mistake-icon.fail:before {
  color: red;
  content: '\1F6AB';
}
.mistake-icon.wipe:before {
  color: blue;
  content: '\1F6BD';
}
.mistake-icon.potion:before {
  color: purple;
  content: '\1F378';
}
.mistake-icon.good:before {
  color: green;
  content: '\2714';
}

.resizeHandle .hide-if-resizing {
  display: none;
}
