.hide {
  display: none !important;
}

#popup-text-container {
  position: absolute;
  top: 296px;
  width: 100%;
  text-align: center;
}

#popup-text-info {
  position: absolute;
  width: 100%;
  top: 74px;
  color: #2b2;
  font-size: 140%;
  text-shadow: -2px 0 4px black, 0 2px 4px black, 2px 0 4px black, 0 -2px 4px black;
  will-change: transform;
}

#popup-text-info .resize-helper {
  display: none;
}

.resizeHandle #popup-text-info .resize-helper {
  /* When unlocked for move/resize. */
  display: inline-block;
}

#popup-text-alert {
  position: absolute;
  width: 100%;
  top: 44px;
  color: #fb0;
  font-size: 170%;
  text-shadow: -2px 0 4px black, 0 2px 4px black, 2px 0 4px black, 0 -2px 4px black;
  text-transform: uppercase;
  will-change: transform;
}

#popup-text-alert .resize-helper {
  display: none;
}

.resizeHandle #popup-text-alert .resize-helper {
  /* When unlocked for move/resize. */
  display: inline-block;
}

#popup-text-alarm {
  position: absolute;
  width: 100%;
  top: 0px;
  color: #f30;
  font-size: 230%;
  text-shadow: -2px 0 4px black, 0 2px 4px black, 2px 0 4px black, 0 -2px 4px black;
  text-transform: uppercase;
  will-change: transform;
}

#popup-text-alarm .resize-helper {
  display: none;
}

.resizeHandle #popup-text-alarm .resize-helper {
  /* When unlocked for move/resize. */
  display: inline-block;
}

@keyframes zoom-in-out {
  0% { transform: scale(1.0); }
  50% { transform: scale(1.4); }
  100% { transform: scale(1.0); }
}

#timeline-container {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 240px;
  height: 120px;
  /*border: 2px solid blue;*/
}

#timeline-container .resize-helper {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

.resizeHandle #timeline-container .resize-helper {
  /* When unlocked for move/resize. */
  display: inline-block;
}
