html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.jobicon {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  cursor: pointer;
}

.pld .jobicon {
  background: url("../../resources/ffxiv/jobs/pld-framed.png") 0 / contain;
}

.war .jobicon {
  background: url("../../resources/ffxiv/jobs/war-framed.png") 0 / contain;
}

.drk .jobicon {
  background: url("../../resources/ffxiv/jobs/drk-framed.png") 0 / contain;
}

.gnb .jobicon {
  background: url("../../resources/ffxiv/jobs/gnb-framed.png") 0 / contain;
}

.whm .jobicon {
  background: url("../../resources/ffxiv/jobs/whm-framed.png") 0 / contain;
}

.sch .jobicon {
  background: url("../../resources/ffxiv/jobs/sch-framed.png") 0 / contain;
}

.ast .jobicon {
  background: url("../../resources/ffxiv/jobs/ast-framed.png") 0 / contain;
}

.sge .jobicon {
  background: url("../../resources/ffxiv/jobs/sge-framed.png") 0 / contain;
}

.mnk .jobicon {
  background: url("../../resources/ffxiv/jobs/mnk-framed.png") 0 / contain;
}

.drg .jobicon {
  background: url("../../resources/ffxiv/jobs/drg-framed.png") 0 / contain;
}

.nin .jobicon {
  background: url("../../resources/ffxiv/jobs/nin-framed.png") 0 / contain;
}

.sam .jobicon {
  background: url("../../resources/ffxiv/jobs/sam-framed.png") 0 / contain;
}

.rpr .jobicon {
  background: url("../../resources/ffxiv/jobs/rpr-framed.png") 0 / contain;
}

.brd .jobicon {
  background: url("../../resources/ffxiv/jobs/brd-framed.png") 0 / contain;
}

.mch .jobicon {
  background: url("../../resources/ffxiv/jobs/mch-framed.png") 0 / contain;
}

.dnc .jobicon {
  background: url("../../resources/ffxiv/jobs/dnc-framed.png") 0 / contain;
}

.blm .jobicon {
  background: url("../../resources/ffxiv/jobs/blm-framed.png") 0 / contain;
}

.smn .jobicon {
  background: url("../../resources/ffxiv/jobs/smn-framed.png") 0 / contain;
}

.rdm .jobicon {
  background: url("../../resources/ffxiv/jobs/rdm-framed.png") 0 / contain;
}

.blu .jobicon {
  background: url("../../resources/ffxiv/jobs/blu-framed.png") 0 / contain;
}

/* Triggerlines */
.triggerlines {
  position: absolute;
  left: 5%;
  bottom: 5px;
  display: block;
  width: 90%;
  margin: 0 auto;
}

.triggerline {
  position: relative;
  height: 5px;
  width: 100%;
  display: block;
  background: rgb(255 255 255 / 20%);
  border-radius: 2.5px;
  margin: 3px auto;
  overflow: hidden;
}

.trigger {
  position: absolute;
  height: 100%;
  width: 2px;
}

.triggerline.all > .trigger {
  background: rgb(255 200 40 / 80%);
}

.triggerline.tank > .trigger {
  background: rgb(100 200 255 / 80%);
}

.triggerline.healer > .trigger {
  background: rgb(200 255 100 / 80%);
}

.triggerline.dps > .trigger {
  background: rgb(255 100 100 / 80%);
}

.triggerline-timer {
  position: absolute;
  height: 100%;
  background: rgb(255 255 255 / 100%);
  border-radius: 2.5px;
  z-index: -1;
}

/* new styles */
.main-content-row,
.main-content-row > * {
  max-height: calc(100vh - 5rem);
}

.trigger-info-column {
  overflow-y: auto;
}

.trigger-info-column .json-viewer {
  max-height: calc(100vh - 15rem);
  overflow-y: auto;
}

.trigger-info-column .trigger-hide-skipped-container {
  float: left;
}

.trigger-info-column .trigger-hide-collector-container {
  float: left;
  padding-left: 5px;
}

.progress-bar {
  transition: none;
}

.tooltip.bs-tooltip-bottom .arrow {
  left: calc(50% - 0.4rem) !important;
}

button.show-encounters-button {
  position: absolute;
  right: 1rem;
  z-index: 1000;
}

button.show-encounters-button[aria-expanded="false"] {
  top: -2rem;
}

button.show-encounters-button[aria-expanded="true"] {
  top: 1px; /* border size */
}

button.show-encounters-button[aria-expanded="false"] .fa-chevron-down {
  display: none;
}

button.show-encounters-button[aria-expanded="true"] .fa-chevron-up {
  display: none;
}

div.row.progress-bar-row {
  height: 3rem;
}

div.row.progress-bar-row button.play,
div.row.progress-bar-row button.pause {
  padding: 0.625rem 1.5rem;
  font-size: 1.625rem;
  line-height: 1.5;
  border-radius: 0.35rem;
  width: 92px;
  text-align: center;
}

.progress-bar-timestamp {
  line-height: 3rem;
}

div.row.progress-bar-row .player-triggers {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 2rem;
  opacity: 0.85;
  pointer-events: none;
  margin-left: 15px;
  margin-right: 15px;
}

div.row.progress-bar-row .player-triggers .trigger-bar {
  height: 0.25rem;
  position: absolute;
  left: 0;
  right: 0;
}

div.row.progress-bar-row .player-triggers .trigger-bar.player0 {
  bottom: 1.75rem;
}

div.row.progress-bar-row .player-triggers .trigger-bar.player1 {
  bottom: 1.5rem;
}

div.row.progress-bar-row .player-triggers .trigger-bar.player2 {
  bottom: 1.25rem;
}

div.row.progress-bar-row .player-triggers .trigger-bar.player3 {
  bottom: 1rem;
}

div.row.progress-bar-row .player-triggers .trigger-bar.player4 {
  bottom: 0.75rem;
}

div.row.progress-bar-row .player-triggers .trigger-bar.player5 {
  bottom: 0.5rem;
}

div.row.progress-bar-row .player-triggers .trigger-bar.player6 {
  bottom: 0.25rem;
}

div.row.progress-bar-row .player-triggers .trigger-bar.player7 {
  bottom: 0;
}

div.row.progress-bar-row .player-triggers .trigger-bar .trigger-item {
  pointer-events: all;
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
}

div.row.progress-bar-row .player-triggers .trigger-bar.tank .trigger-item {
  background: rgb(71 94 206 / 90%);
}

div.row.progress-bar-row .player-triggers .trigger-bar.healer .trigger-item {
  background: rgb(60 105 41 / 90%);
}

div.row.progress-bar-row .player-triggers .trigger-bar.dps .trigger-item {
  background: rgb(104 53 53 / 90%);
}

.engage-indicator {
  position: absolute;
  height: calc(3rem + 10px);
  width: 3px;
  background: rgb(0 0 0 / 80%);
  bottom: -5px;
  z-index: 10;
  pointer-events: all;
}

.popup-text-container {
  height: 2rem;
  line-height: 2rem;
  border: 1px solid black;
  margin: 0.5rem;
  padding-left: 0.5rem;
  position: relative;
  padding-right: 3rem;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.popup-text-container .popup-text-remaining {
  position: absolute;
  right: 0.5rem;
}

.popup-text-container.alarm-text {
  color: black;
  background-color: #f30;
}

.popup-text-container.alarm-text::before {
  content: "ALARM: ";
  display: inline;
}

.popup-text-container.alert-text {
  color: black;
  background-color: #fb0;
}

.popup-text-container.alert-text::before {
  content: "ALERT: ";
  display: inline;
}

.popup-text-container.info-text {
  color: black;
  background-color: #2b2;
}

.popup-text-container.info-text::before {
  content: "INFO: ";
  display: inline;
}

.popup-text-container.tts-text {
  color: black;
  background-color: whitesmoke;
}

.popup-text-container.tts-text::before {
  content: "TTS: ";
  display: inline;
}

.popup-text-container.audio-file {
  color: black;
  background-color: blue;
}

.popup-text-container.audio-file::before {
  content: "AUDIO: ";
  display: inline;
}

div.row.encounters-row {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.encounters-row .selector-row {
  cursor: pointer;
}

.encounters-row .selector-row.selected {
  background-color: rgb(255 255 255 / 20%);
}

.timer-bar-container .progress {
  width: 100%;
  height: 2rem;
}

.import-progress-modal .progress,
.import-progress-modal .progress-bar {
  height: 2rem;
}

.import-progress-modal .label {
  font-size: 1.25rem;
}

.import-progress-modal .btn:disabled .done-btn-timeout {
  display: none;
}

.party-info-column .map .map-background {
  background-color: grey;
}

.party-info-column .map .player-icon {
  border: 2px solid;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  font-size: 0.35rem;
}

.party-info-column .map .player-icon.tank {
  background: rgb(71 94 206 / 90%);
}

.party-info-column .map .player-icon.healer {
  background: rgb(60 105 41 / 90%);
}

.party-info-column .map .player-icon.dps {
  background: rgb(104 53 53 / 90%);
}

.party-info-column .map .player-icon.role1 {
  border-color: black;
}

.party-info-column .map .player-icon.role2 {
  border-color: white;
}

.party-info-column .map .player-icon.role3 {
  border-color: blue;
}

.party-info-column .map .player-icon.role4 {
  border-color: green;
}

.party-info-column .party {
  position: relative;
}

.party-info-column .party .player-info-row {
  height: 2rem;
  position: relative;
  cursor: pointer;
}

.party-info-column .party .player-info-row.border {
  border-width: 3px !important;
  height: calc(2rem + 1.5rem + 6px);
}

.party-info-column .party .player-info-row .jobicon {
  position: absolute;
  top: 0;
  left: 0;
  right: 2rem;
  bottom: 2rem;
  z-index: 5;
}

.party-info-column .party .player-info-row .hp,
.party-info-column .party .player-info-row .mp {
  position: relative;
  display: block;
  left: 2rem;
  height: 1rem;
  width: calc(100% - 2rem);
}

.party-info-column .party .player-info-row .hp {
  top: 0;
}

.party-info-column .party .player-info-row .mp {
  bottom: 0;
}

.party-info-column .party .player-info-row .progress {
  height: 1rem;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #36404a;
}

.party-info-column .party .player-info-row .progress .label {
  position: absolute;
  left: 0;
  right: 0;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  white-space: pre;
}

.party-info-column .party .player-info-row .hp .progress .progress-bar {
  background: rgb(141 188 22);
}

.party-info-column .party .player-info-row .mp .progress .progress-bar {
  background: rgb(222 110 160);
}

.party-info-column .player-name {
  display: none;
  text-align: center;
}

.party-info-column .border-success .player-name {
  display: block;
}

.encounters-row {
  z-index: 15;
}

#encounters-tab {
  /* encounter drawer + sm btn font + sm btn padding + sm btn border + border top + border top */
  height: calc(25vh + 1.3125rem + 0.25rem + 0.25rem + 2px + 1px + 1px);
}

#encounters-tab .row .col {
  overflow-y: auto;
}

.encounters-container {
  height: 25vh;
  max-height: 25vh;
}

.encounter-info .btn {
  clear: right;
}

.timer-bar-container .progress .timer-bar-left-label {
  height: 2rem;
  line-height: 2rem;
  position: absolute;
  left: 1.5rem;
  color: black;
}

.timer-bar-container .progress .timer-bar-right-label {
  height: 2rem;
  line-height: 2rem;
  position: absolute;
  right: 1.5rem;
  color: black;
}

.wrap-collapse {
  padding-bottom: 0.5rem;
}

.wrap-collapse .wrap-collapse-button .btn {
  width: 100%;
}

.wrap-collapse .wrap-collapse-button .btn.btn-outline-light:hover {
  background-color: #f8f9fa80;
}

.wrap-collapse .wrap-collapse-button .trigger-label .trigger-label-time,
.wrap-collapse .wrap-collapse-button .trigger-label .trigger-label-name {
  float: left;
}

.wrap-collapse .wrap-collapse-button .trigger-label .trigger-label-icon,
.wrap-collapse .wrap-collapse-button .trigger-label .trigger-label-text {
  float: right;
}

.wrap-collapse .wrap-collapse-button .trigger-label .fa {
  line-height: 2rem;
  width: 1em;
}

.wrap-collapse .wrap-collapse-button .trigger-label > * {
  float: left;
  padding-right: 0.5rem;
}

.wrap-collapse .wrap-collapse-button .trigger-label > div {
  line-height: 2rem;
  height: 2rem;
  margin: -4px 0;
}

.wrap-collapse .wrap-collapse-button .trigger-label > div + div {
  padding-left: 0.5rem;
}

.wrap-collapse .wrap-collapse-button .trigger-label .trigger-label-icon {
  padding-right: 0;
}

.wrap-collapse .wrap-collapse-button .btn,
.wrap-collapse .wrap-collapse-button .btn.triggertype-data {
  border-color: white;
}

.wrap-collapse .wrap-collapse-button .btn .trigger-label > div + div,
.wrap-collapse .wrap-collapse-button .btn.triggertype-data .trigger-label > div + div {
  border-left: 1px solid white;
}

.wrap-collapse .wrap-collapse-button .btn.triggertype-info {
  border-color: #2b2;
}

.wrap-collapse .wrap-collapse-button .btn.triggertype-info .trigger-label > div + div {
  border-left: 1px solid #2b2;
}

.wrap-collapse .wrap-collapse-button .btn.triggertype-alert {
  border-color: #fb0;
}

.wrap-collapse .wrap-collapse-button .btn.triggertype-alert .trigger-label > div + div {
  border-left: 1px solid #fb0;
}

.wrap-collapse .wrap-collapse-button .btn.triggertype-alarm {
  border-color: #f30;
}

.wrap-collapse .wrap-collapse-button .btn.triggertype-alarm .trigger-label > div + div {
  border-left: 1px solid #f30;
}

.wrap-collapse .wrap-collapse-button .btn.triggertype-tts {
  border-color: whitesmoke;
}

.wrap-collapse .wrap-collapse-button .btn.triggertype-tts .trigger-label > div + div {
  border-left: 1px solid whitesmoke;
}

.wrap-collapse .wrap-collapse-button .btn.triggertype-audiofile {
  border-color: blue;
}

.wrap-collapse .wrap-collapse-button .btn.triggertype-audiofile .trigger-label > div + div {
  border-left: 1px solid blue;
}

div.templates,
template {
  display: none;
}

.tooltip {
  pointer-events: none;
  z-index: -1000;
}

.tooltip.show {
  z-index: 1070;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: calc(100vw - (1.75rem * 2));
    margin: 1.75rem auto;
  }
}
