#target-castbar-container {
  position: absolute;
  left: 200px;
  top: 70px;
}

#focus-castbar-container {
  position: absolute;
  left: 200px;
  top: 150px;
  width: 300px;
  height: 28px;
  font-size: 18px;
}
