body {
  margin: 0px;
  overflow: hidden;
}

div {
    color: white;
    text-shadow: 1px 1px black;
}

.cactbotwindow {
    position: absolute;
    overflow: hidden;
    visibility: visible;
}

.cactbotwindow.hidden {
    visibility: hidden;
}

.cactbotwindow.layoutmode {
    border: blue solid 10px;
    margin: -10px;
}

.cactbotwindow.layoutmode.hidden {
    border: green dashed 5px;
    margin: -5px;
    visibility: visible;
}

.cactbotwindowname {
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-size: 60px;
    background:rgba(28, 28, 196, 0.5);
    display: flex;
    align-items: center;
    pointer-events: none;
    -webkit-user-select: none;
}

.cactbotwindow.hidden > .cactbotwindowname {
    background:rgba(28, 28, 196, 0.1);
}

.ui-draggable-dragging > .cactbotwindowname {
    background:rgba(87, 176, 100, 0.90);
}

.layoutmode > .cactbotwindowname {
    visibility: visible;
}

.cactbotwindowname > div {
    width: 100%;
    text-align: center;
}