#bosstimers {
  display: flex;
  flex-direction: column;
}

#bosstimers #titlebar {
  display: flex;
}

#bosstimers #bosstitle {
  margin-right: auto;
  font-weight: bold;
}

#bosstimers #enrage {
  margin-left: auto;
}

#bosstimers #rotation > .rotitem:first-child {
  font-size: 40px;
}

#bosstimers .rotitem {
  display: flex;
  flex-direction: row;
}

#bosstimers .countdown {
  margin-left: auto;
  margin-right: 2%;
}

#bosstimers .move {
  margin-right: auto;
  margin-left: 2%;
}

#bosstimers #nextphase {
  margin-top: auto;
  display: flex;
  flex-direction: row;
}

#bosstimers #nextphasetitle {
  margin-right: auto;
}

#bosstimers #nextphasecondition {
  margin-left: auto;
}