name: CSS Lint

on:
  push:
    paths:
      - '**/*.css'
      - '.github/workflows/css-lint.yml'
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    paths:
      - '**/*.css'
      - '.github/workflows/css-lint.yml'

jobs:
  stylelint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2-beta
        with:
          node-version: '12'
      - name: Add Custom Problem Matcher
        run: |
          echo "::add-matcher::.github/matchers/${{ github.job }}.json"  
      - name: Install Dependencies
        run: |
          npm install
      - name: npm run stylelint
        run: |
          npm run stylelint
