name: Test

on:
  push:
    paths:
      - '**/*.js'
      - '**/*.ts'
      - '**/*.py'
      - 'package*.json'
      - 'ui/raidboss/**'
      - '.github/workflows/test.yml'
  pull_request:
    paths:
      - '**/*.js'
      - '**/*.ts'
      - '**/*.py'
      - 'package*.json'
      - 'ui/raidboss/**'
      - '.github/workflows/test.yml'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2 # for PR

      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - uses: actions/setup-python@v2
        with:
          python-version: "3.7"

      - name: Install Dependencies
        run: |
          npm ci

      - name: npm test
        run: |
          npm run test:coverage

      - uses: codecov/codecov-action@v1
